# Lab Task 01

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [104]:
# Given:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
print(isEqual(numbers_x))
# Expected Output:
# Given list: [10, 20, 30, 40, 10]
# result is True

# numbers_y = [75, 65, 35, 75, 30]
# result is False

True

In [6]:
def isEqual(list1):
    if list1[0]==list1[-1]:
        return True
    return False





# Lab Task 02

Create two NumPy arrays of the same shape and perform element-wise addition on them.

Calculate the element-wise product of two NumPy arrays.

In [14]:
#code here
import numpy as np
list1 = np.arange(1,10)
list2 = np.arange(11,20)
list3 = list1+list2
list4 = list1*list2
print("Sum of 2 numpy arrays is ",list3)
print("Product of 2 numpy array is ",list4)

Sum of 2 numpy arrays is  [12 14 16 18 20 22 24 26 28]
Product of 2 numpy array is  [ 11  24  39  56  75  96 119 144 171]

# Lab Task 03

Reshape a 1D NumPy array into a 2D array with dimensions (3, 4).

Concatenate two NumPy arrays horizontally and vertically.

In [18]:
#code here
list1 = np.arange(1,13).reshape(3,-1)
print("2D reshaped numpy array is ",list1, "with dimension ", list1.shape)

2D reshaped numpy array is  [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]] with dimension  (3, 4)

In [27]:
list1 = np.arange(1,10)
list2 = np.arange(11,20)
listH = np.hstack((list1,list2))
listV = np.vstack((list1,list2))
print("Lists after horizontally concatentaion ",listH)
print("Lists after vertically concatentaion ")
listV

Lists after horizontally concatentaion  [ 1  2  3  4  5  6  7  8  9 11 12 13 14 15 16 17 18 19]
Lists after vertically concatentaion

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [11, 12, 13, 14, 15, 16, 17, 18, 19]])

# Lab Task 04


## Online Store Shopping Cart
Write a Python program to simulate the online store's shopping cart system. The program should use a while loop to provide an interactive shopping experience.


### Tasks:
* Initialize an empty list called shopping_cart to store items.
* Display a welcome message and available products.
* Loop should be iterating over AI Response Simulator and Investment decision and keep asking for user input.
* Prompt the user to enter the number corresponding to the product they want to add to the cart.
* Check if the user entered 'q'. If so, break the loop.
* Convert the choice to an integer and validate it within the valid range (1 to 3).
* Based on the user's choice, add the selected product to the shopping_cart list.
* Display a confirmation message indicating the added product.
* Continue the loop to allow the user to add more products or proceed to checkout.
* After the loop ends, display the contents of the shopping cart.
* Display a goodbye message.
* End the program.

In [32]:
#Code here
shopping_cart =[]
available_products = ["Water Bottle","Mouse","Pendulum"]
print("Assalam o Alaikum, Gee Ayaa Noon :)")
print("\n1: Press  'Q' or 'q' to exit\n2: Press 'C' or 'c' to see the cart ")

while(True):
    print("Following are available products: \n 1: Water Bottle \n 2: Mouse\n 3: Pendulum")
    choice = (input("Enter the corresponding number with the product to add to cart or corresponding keys mentioned"))
    if(choice.lower()=='q'):
        break
    if(choice.lower()=='c'):
        print("Your cart is ",shopping_cart)
        continue
    choice = int(choice)
    if((choice>=1)and(choice<=3)):
        shopping_cart.append(available_products[choice-1])
        print(available_products[choice-1]," added to cart successfully")
    else:
        print("\n\tInvalid Choice\n\n")
print("Thanks for visiting, your cart is ",shopping_cart)

Assalam o Alaikum, Gee Ayaa Noon :)

1: Press  'Q' or 'q' to exit
2: Press 'C' or 'c' to see the cart
Following are available products:
 1: Water Bottle
 2: Mouse
 3: Pendulum
Enter the corresponding number with the product to add to cart or corresponding keys mentioned1
Water Bottle  added to cart successfully
Following are available products:
 1: Water Bottle
 2: Mouse
 3: Pendulum
Enter the corresponding number with the product to add to cart or corresponding keys mentioned2
Mouse  added to cart successfully
Following are available products:
 1: Water Bottle
 2: Mouse
 3: Pendulum
Enter the corresponding number with the product to add to cart or corresponding keys mentionedc
['Water Bottle', 'Mouse']
Following are available products:
 1: Water Bottle
 2: Mouse
 3: Pendulum
Enter the corresponding number with the product to add to cart or corresponding keys mentionedq

# Lab Task 05


## Email Classification
Develope a tool which will classify an email.

### Tasks:
* Create a function classify_emails that takes a list of emails as an argument.
* Inside the function, categorize emails into "Important," "Promotions," and "Spam" based on keywords and content analysis.
* Loop through the emails and identify keywords to determine their category.
* If an email contains keywords indicating importance, assign it as "Important."
* If an email contains keywords related to promotions or deals, assign it as "Promotions."
* If an email is suspected to be spam based on certain keywords or patterns, assign it as "Spam."
* Return three lists of emails for each category.
* Print the lists.

In [33]:
import nltk
from nltk import word_tokenize

In [38]:
#code here
def classify_emails(emails):
    
    categorize = {"Promotion":[],"Important":[],"Spam":[]}
    important = ["significance","momentousness","import","consequence","note","noteworthiness"]
    promotions = ["advertising","publicity","marketing","selling"]
    Spam = ["cheap","cash","credit","cost"]
    for i in emails:
        flag=False
        tokens = nltk.word_tokenize(i)
        for j in important:
            if j in tokens:
                categorize["Important"].append(i)
                flag = True
                break
        if flag:
            continue
        for j in promotions:
            if j in tokens:
                categorize["Promotion"].append(i)
                flag = True
                break
        if flag:
            continue
        for j in Spam:
            if j in tokens:
                categorize["Spam"].append(i)
                break
    return categorize

# Lab Task 06

## English-Spanish Dictionary
You are creating a basic English-Spanish dictionary that allows users to look up English words and find their Spanish translations.


### Tasks
* Create a dictionary where English words are keys and their Spanish translations are values.
* Ask the user to input an English word.
* Check if the word exists in the dictionary.
* If the word exists, print its Spanish translation.
* If the word does not exist, inform the user that the translation is not available.
* Implement a loop that allows the user to keep looking up words until they choose to exit.

In [46]:
#code here
dictionary={"hello":"hola","love":"amor","happiness":"felicidad","cat":"gato","dog":"perro","smile":"sonreir","yes":"si"}
while(True):
    
    choice=input("Enter the word to search in Spanish translator or 'Q','q' to exit\n")
    if(choice.lower()=='q'):
        
        break
    if(choice.lower() in  dictionary.keys()):
        print("English  -->  Spanish")
        print(choice," -> ",dictionary[choice.lower()])
    else:
        print("No translation is available for ", choice)

dict_keys(['hello', 'love', 'happiness', 'cat', 'dog', 'smile', 'yes'])
Enter the word to search in Spanish translator or 'Q','q' to exit
hello
English  -->  Spanish
hello  ->  hola
Enter the word to search in Spanish translator or 'Q','q' to exit
halo
No translation is available for  halo
Enter the word to search in Spanish translator or 'Q','q' to exit
q

# Lab Task 07

dataset link : https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv
#Exercise
Use the dataset of Game, we have explored earlier and perform following operations.

* Calculate the total global sales for all games in the dataset.
* Find the game with the highest global sales.
* Determine the average sales for each region (NA_Sales, EU_Sales, JP_Sales, Other_Sales).
* Find the top 5 most popular game genres based on global sales.
* Calculate the total sales for each genre in each region and find the most popular genre in North America (NA_Sales).
* Display last 10 rows.
* Determine the top 3 gaming platforms with the highest global sales.
* Calculate the market share (percentage of global sales) for each genre.
* Calculate the correlation coefficient between NA_Sales and EU_Sales. (.corr function)

In [94]:
import pandas as pd

In [96]:
df = pd.read_csv(r"https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv",index_col='Rank')
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [110]:
df['Global_Sales'].sum()         # SUM OF TOTAL SALES

8920.44

In [59]:
df = df.sort_values("Global_Sales",ascending=False)    # sorted in descending order and displaying first 
df.iloc[0]

Name            Wii Sports
Platform               Wii
Year                2006.0
Genre               Sports
Publisher         Nintendo
NA_Sales             41.49
EU_Sales             29.02
JP_Sales              3.77
Other_Sales           8.46
Global_Sales         82.74
Name: 1, dtype: object

In [108]:
print("Average Sales for NA region ", df["NA_Sales"].mean())        #mean of individual
print("Average Sales for EU region ", df["EU_Sales"].mean())
print("Average Sales for JP region ", df["JP_Sales"].mean())
print("Average Sales for other regions ", df["Other_Sales"].mean())

Average Sales for NA region  0.26466742981082064
Average Sales for EU region  0.14665200626581515
Average Sales for JP region  0.077781660441017
Average Sales for other regions  0.0480630196409206

In [62]:
print("5 popular games on basis of global sales are: ")  # df already arranged with top being most popular
df.head(5)["Name"]

5 popular games on basis of global sales are:

Rank
1                  Wii Sports
2           Super Mario Bros.
3              Mario Kart Wii
4           Wii Sports Resort
5    Pokemon Red/Pokemon Blue
Name: Name, dtype: object

In [69]:
df['Genre'].value_counts()

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: count, dtype: int64

In [107]:
groups = df['Genre'].value_counts()

In [105]:
for i in groups.groups.keys():
    print(f"Total sales for {i} games is ", groups.get_group(i)["Global_Sales"].sum())

Total sales for Action games is  1751.18
Total sales for Adventure games is  239.03999999999996
Total sales for Fighting games is  448.91
Total sales for Misc games is  809.9600000000002
Total sales for Platform games is  831.37
Total sales for Puzzle games is  244.95
Total sales for Racing games is  732.04
Total sales for Role-Playing games is  927.37
Total sales for Shooter games is  1037.3700000000001
Total sales for Simulation games is  392.2000000000001
Total sales for Sports games is  1330.93
Total sales for Strategy games is  175.12000000000003

In [81]:
print("Most popular genre in NA is ",df.iloc[0]['Genre'])

Most popular genre in NA is  Sports

In [82]:
df.tail(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.0,0.01
16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16562,Sugar + Spice! Anoko no Suteki na Nanimokamo,PS2,2008.0,Adventure,Alchemist,0.00,0.00,0.01,0.0,0.01
16563,Hanasaku Manimani,PSV,2014.0,Adventure,5pb,0.00,0.00,0.01,0.0,0.01
16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [109]:
df.iloc[:3]['Platform']

Rank
1    Wii
2    NES
3    Wii
Name: Platform, dtype: object

In [86]:
total_sales = df['Global_Sales'].sum()
for i in groups.groups.keys():
    print(f"Total percent of market share for {i} games is ", (groups.get_group(i)["Global_Sales"].sum()*100)/total_sales,"%")

Total percent of market share for Action games is  19.63109443031958 %
Total percent of market share for Adventure games is  2.6796884458614145 %
Total percent of market share for Fighting games is  5.0323750846370805 %
Total percent of market share for Misc games is  9.07982117474026 %
Total percent of market share for Platform games is  9.319831757177896 %
Total percent of market share for Puzzle games is  2.7459407831900666 %
Total percent of market share for Racing games is  8.206321661263345 %
Total percent of market share for Role-Playing games is  10.39601185591742 %
Total percent of market share for Shooter games is  11.629134885723127 %
Total percent of market share for Simulation games is  4.396644111725431 %
Total percent of market share for Sports games is  14.920003945993695 %
Total percent of market share for Strategy games is  1.963131863450682 %

In [102]:
df[["NA_Sales","EU_Sales"]].corr()

          NA_Sales  EU_Sales
NA_Sales  1.000000  0.767727
EU_Sales  0.767727  1.000000